extends ./base
block head
    meta(charset="UTF-8")
    title #{live.name} - MisskeyTV
    script(src="//cdn.jsdelivr.net/hls.js/latest/hls.min.js")
    script.
        $(function(){
            var video = document.getElementById("player")
            var hls = new Hls()
            hls.loadSource(video.currentSrc)
            hls.attachMedia(video)
            hls.on(Hls.Events.MANIFEST_PARSED,function() {
                video.volume=0.5;
                video.play()
            })
        })
    style.
        video{
            background:black;
        }
        h1 .tag{
            font-size:0.4em;
        }
block content
    h1= live.name
        |  
        if live.status == "live"
            span.tag.tag-success Live
        else if live.status == "archive"
            span.tag.tag-warning Archive
    div 配信者:
        a(href="/profile/"+user.screenName) @#{user.screenName}
    div.embed-responsive.embed-responsive-16by9
        if live.status == "live"
            video.embed-responsive-item(src="/hls/#{user.screenName}/index.m3u8",controls)#player
        else
            if live.recordPath
                video.embed-responsive-item(src="/record/"+live.id+"/mp4",controls)
            else
                span 録画がないみたいです。ごめんなさい。
    br
    h2 配信説明文
    pre= live.description
